<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    <ul>
      <li>
        <a target="_blank" href="./sign-in">Sign In</a>
      </li>

      <li>
        <a target="_blank" href="./password-reset">Password Reset</a>
      </li>

      <li>
        <a target="_blank" href="./password-recovery">Password Recovery</a>
      </li>

      <li>
        <a target="_blank" href="./sign-up">Sign Up</a>
      </li>

      <li>
        <a target="_blank" href="./search">Search</a>
      </li>

      <li>
        <a target="_blank" href="./profile">Profile</a>
      </li>

      <li>
        <a target="_blank" href="./admin-zone">Admin Zone</a>
      </li>
    </ul>
  </body>
</html>
